@import url("http://fonts.cdnfonts.com/css/br-firma");
@font-face {
  font-family: "BR Firma sub";
  src: url("../fonts/BR Firma.woff2") format("woff2"), url("../fonts/BR Firma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

a {
  text-decoration: none;
  color: #6a696b;
}

nav {
  box-shadow: 0px 18px 23px -7px rgba(233, 226, 226, 0.048);
}

.nav-link {
  font-weight: 500;
  color: #6a696b !important;
}
.nav-link:hover {
  color: #282a2b !important;
}
.nav-link:focus {
  color: #282a2b !important;
  font-weight: 600;
}

.navbar-light .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-toggler:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.navbar-toggler {
  padding: 0.25rem 0;
}

.dropdown-large {
  padding: 1rem;
}

.dropdown-menu.show {
  display: grid;
}

.navbar-nav i {
  font-size: 70%;
}

#navbar-logo2 {
  display: none;
}

.nav-menu {
  background-color: #ffffff;
  border: 1px solid #ecdddd7a;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  padding: 40px;
  border-radius: 5px;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  display: none;
  overflow: hidden;
}
.nav-menu h3 {
  color: #282a2b;
}
.nav-menu > section {
  padding-right: 40px;
  padding-left: 0;
}
.nav-menu > section:last-child {
  padding-left: 40px;
  padding-right: 0;
}
.nav-menu > section:first-child {
  padding-left: 0;
}
.nav-menu > section:nth-child(even) {
  border-left: 1px solid #ecdddd7a;
}
.nav-menu > section > a {
  display: flex;
  margin-bottom: 30px;
}
.nav-menu > section > a:last-child {
  margin-bottom: 0;
}
.nav-menu > section > a img {
  width: 44px;
  height: 44px;
  margin-right: 15px;
}
.nav-menu > section > a div > h3 {
  margin-bottom: 5px;
  color: #282a2b;
}
.nav-menu > section > a div > p {
  margin-bottom: 10px;
  color: #6a696b;
}
.nav-menu > section > a div > p:last-child {
  margin-bottom: 0;
}

#navbar-two {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#navbar-two .login {
  color: #282a2b;
  font-weight: bold;
  margin-right: 20px;
}
#navbar-two .signup {
  color: #ffffff;
  background-color: #282a2b;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 18px 23px -7px rgba(0, 0, 0, 0.164);
}

@media all and (min-width: 992px) {
  .navbar {
    padding: 20px;
  }

  .dropdown-large {
    min-width: auto;
  }

  .navbar-nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media all and (max-width: 991px) {
  .nav-menu {
    width: auto;
    background-color: transparent;
  }

  .navbar {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .nav-menu {
    border: 0;
    padding: 20px 0;
  }
  .nav-menu h3 {
    color: #ffffff;
  }
  .nav-menu a {
    color: rgba(255, 255, 255, 0.8431372549);
  }
  .nav-menu > section > a div > h3 {
    color: #ffffffd7;
  }
  .nav-menu > section > a div > p {
    color: rgba(255, 255, 255, 0.8431372549);
  }

  .navbar-nav .nav-link {
    font-size: 1.5em;
    font-weight: bold;
  }

  .nav-link {
    color: #ffffff !important;
  }
  .nav-link:hover {
    color: #ffffffd7 !important;
  }
  .nav-link:focus {
    color: #ffffffd7 !important;
    font-weight: 600;
  }

  .container-fluid {
    padding: 0;
  }

  #navbar-content {
    min-height: calc(100vh - 300px);
    margin-bottom: 40px;
  }

  #navbar-logo2 {
    margin-top: 63.25px;
    display: block;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .navbar-toggler2 {
    position: absolute;
    right: 0;
    top: 58.25px;
    padding-right: 2.5%;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  #main_nav {
    background: #282a2b;
    position: absolute;
    padding: 0 2.5%;
    top: -50px;
    right: 0;
    left: 0;
    min-height: 100%;
    transition: 0.85s ease;
    z-index: 19;
  }

  #navbar-two {
    border-top: 1px solid #ecdddd7a;
    width: 100%;
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar-two .signup, #navbar-two .login {
    color: #ffffffd7;
    background-color: transparent;
    margin: 0;
    padding: 0.35rem 0;
    font-size: 1.35em;
    font-weight: bold;
    box-shadow: none;
  }
  #navbar-two .signup {
    font-size: 0;
  }
  #navbar-two .signup::before {
    content: "Sign Up";
    font-size: 1.35rem;
  }
}
@media all and (max-width: 660px) {
  .dropdown-menu.show {
    display: block;
  }

  .nav-menu > section {
    padding-right: 0;
    width: 100%;
  }
  .nav-menu > section:last-child {
    padding-left: 0;
  }
  .nav-menu > section:nth-child(even) {
    border: 0;
    border-top: 1px solid #ecdddd7a;
    padding-top: 30px;
    margin-top: 30px;
  }
  .nav-menu > section:nth-child(even) > div > div h3 {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .nav-menu > section:nth-child(even) > div > div p {
    margin-bottom: 15px;
  }
}
