@import url("http://fonts.cdnfonts.com/css/br-firma");
@font-face {
  font-family: "BR Firma sub";
  src: url("../fonts/BR Firma.woff2") format("woff2"), url("../fonts/BR Firma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "BR Firma", "BR Firma sub", sans-serif;
}

body {
  background-color: #ffffff;
  color: #5524e0;
  font-size: 18px;
}
body > div, body > footer {
  padding: 0 20px;
}

/* background themes */
.bg-zircon {
  background-color: #f4f6ff;
}

.bg-pattern {
  background-color: #e1f6ff;
}

.bg-blue {
  background-color: #282a2b;
}
.bg-blue h2, .bg-blue h4, .bg-blue h6, .bg-blue a {
  color: #ffffff;
}
.bg-blue p {
  color: #ffffffd7;
}
.bg-blue a:hover {
  color: rgba(204, 204, 204, 0.8431372549) !important;
}
.bg-blue .left-arrow svg {
  fill: #ffffff;
}

.bg-seashell {
  background-color: #fff6ee;
}

.bg-lavender {
  background-color: #fdf3f6;
}

.bg-whisper {
  background-color: #f5f6fa;
}

:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) h2 {
  font-size: 2.45rem;
  font-weight: bold;
  color: #5524e0;
  margin-bottom: 10px;
}
:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) h4 {
  color: #5524e0;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}
:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) h6 {
  color: #515051;
  margin: 0;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) p {
  color: #6a696b;
  margin-bottom: 10px;
}
:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) a {
  text-transform: uppercase;
  color: #282a2b;
  font-size: 0.9rem;
  font-weight: 600;
}
:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) a:hover {
  color: #595e60 !important;
}

/* custom buttons */
.button {
  color: #ffffff;
  background-color: #282a2b;
  border: 1px solid #282a2b;
  padding: 10px 20px;
  box-shadow: 0px 18px 23px -7px rgba(0, 0, 0, 0.164);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 7.5px;
}
.button:hover {
  color: #ffffffd7;
}

.submit-button {
  color: #ffffff;
  background-color: #282a2b;
  border: 1px solid #282a2b;
  padding: 10px 20px;
  box-shadow: 0px 18px 23px -7px rgba(56, 55, 55, 0.16);
  border-radius: 7.5px;
}

.left-arrow {
  display: flex;
  align-items: center;
}
.left-arrow svg {
  height: 12px;
  width: 12px;
  margin-bottom: 2px;
  margin-left: 2px;
  fill: #282a2b;
}

body:nth-child(2) {
  margin-top: 100px;
}

a, button {
  cursor: pointer;
}

a:hover {
  color: #282a2b;
}

/* hero section */
.hero-section .parent {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-gap: 5%;
  gap: 5%;
}
.hero-section .testimonial {
  position: relative;
  overflow: hidden;
}
.hero-section .testimonial img {
  width: 95%;
}
.hero-section .testimonial .testimonial__content {
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  font-size: 14px;
  color: #6a696b;
  padding: 20px;
  right: -10px;
  bottom: -10px;
}
.hero-section .testimonial .testimonial__content .testimonial__author {
  margin-top: 30px;
  color: #282a2b;
}
.hero-section .hero-info {
  position: relative;
}
.hero-section .hero-info h1 {
  font-size: 4.75rem;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 70px;
  margin-bottom: 20px;
}
.hero-section .hero-info p {
  color: #6a696b;
  margin-bottom: 10px;
}
.hero-section .hero-info form {
  margin-top: 20px;
}
.hero-section .hero-info form input {
  padding: 10px 15px;
  border-radius: 7.5px;
}
.hero-section .hero-info form input[type=email], .hero-section .hero-info form input[type=text] {
  border: 1px solid #6a696b;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.hero-section .hero-info form input[type=email]::-webkit-input-placeholder, .hero-section .hero-info form input[type=text]::-webkit-input-placeholder {
  color: #6a696b;
}
.hero-section .hero-info form input[type=email]::-moz-placeholder, .hero-section .hero-info form input[type=text]::-moz-placeholder {
  color: #6a696b;
}
.hero-section .hero-info form input[type=email]:-ms-input-placeholder, .hero-section .hero-info form input[type=text]:-ms-input-placeholder {
  color: #6a696b;
}
.hero-section .hero-info form input[type=email]::-ms-input-placeholder, .hero-section .hero-info form input[type=text]::-ms-input-placeholder {
  color: #6a696b;
}
.hero-section .hero-info form input[type=email]::placeholder, .hero-section .hero-info form input[type=text]::placeholder {
  color: #6a696b;
}
.hero-section .hero-info .app-links {
  display: none;
}
.hero-section .hero-info .app-links a > img {
  width: 125px;
  height: 50px;
}
.hero-section .hero-info .license {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-section .hero-info .license img {
  width: auto;
  height: 15px;
  margin-right: 5px;
}
.hero-section .hero-info .license p {
  font-size: 80%;
  text-transform: uppercase;
  color: #282a2b;
  margin-bottom: 0;
}

/* props section */
.props-section .parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  gap: 5rem;
  padding-top: 30px;
  padding-bottom: 100px;
}
.props-section .props-div {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.props-card {
  padding: 48px 48px 0 48px;
  border-radius: 20px;
  max-height: 600px;
  height: auto;
  overflow: hidden;
}
.props-card .props-card__text {
  margin-bottom: 40px;
}
.props-card .props-card__image {
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
}
.props-card .props-card__image img {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.25s;
}
.props-card .props-card__image .main_image {
  width: 400px;
  position: absolute;
  right: -48px;
  bottom: 0;
  z-index: 1;
}
.props-card .props-card__image .other_image {
  width: 100%;
  padding: 0 15%;
  position: absolute;
  height: auto;
  top: 0;
  opacity: 0;
}
.props-card .props-card__image:hover .main_image {
  opacity: 0;
  transform: scale(0.97) translate3d(-20px, 0, 10px);
}
.props-card .props-card__image:hover .other_image {
  display: block;
  opacity: 1;
  transform: scale(1.07) translate3d(0, -10px, 0);
}

/* steps section */
.steps-section {
  background-image: url("/images/patterns/home-device-section.svg");
  background-repeat: no-repeat;
  background-position: -120% -120px;
  background-size: 77%;
  padding: 50px 7.5%;
}
.steps-section .parent {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-gap: 2.5%;
  gap: 2.5%;
}
.steps-section .steps-screenshot img {
  width: 350px;
  margin: 0 auto;
}
.steps-section h3 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.steps-section .steps-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.steps-card p {
  padding-bottom: 40px;
  border-left: 1px solid #282a2b;
  padding-left: 47px;
  margin-left: 9px;
  color: #6a696b;
}
.steps-card .last-step {
  border-left: 1px solid transparent;
  margin-bottom: 0;
}
.steps-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 55px;
  position: relative;
  color: #5524e0;
}
.steps-card h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  color: #282a2b;
  font-size: 18px;
  font-weight: 500;
}
.steps-card .step-one::before {
  content: "01";
}
.steps-card .step-two::before {
  content: "02";
}
.steps-card .step-three::before {
  content: "03";
}
.steps-card .step-four::before {
  content: "04";
}
.steps-card .step-five::before {
  content: "05";
}

/* security section */
.security-section {
  background-color: #282a2b;
  position: relative;
  overflow: hidden;
}
.security-section .parent {
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
}
.security-section:after {
  content: "";
  background-image: url("../images/patterns/security.svg");
  background-repeat: no-repeat;
  height: 790px;
  width: 780px;
  background-position: 126px;
  background-size: 110%;
  position: absolute;
  right: -150px;
  top: 100px;
  opacity: 0.5;
}
.security-section .security-info {
  width: 450px;
  margin-bottom: 40px;
}
.security-section .security-info h2 {
  font-size: 2.35rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
}
.security-section .security-info p {
  margin-bottom: 20px;
  color: #ffffffd7;
}
.security-section .security-info a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
}
.security-section .security-info a:hover {
  color: rgba(230, 230, 230, 0.8431372549);
}
.security-section .security-list {
  width: 85%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  gap: 80px;
}
.security-section .security-list .security-card {
  position: relative;
  padding-left: 50px;
}
.security-section .security-list .security-card::before {
  content: url("../images/box.svg");
  position: absolute;
  left: 0;
}
.security-section .security-list .security-card h5 {
  font-weight: bold;
  font-size: 1.25rem;
}
.security-section .security-list .security-card p {
  color: #ffffffd7;
}

/* global review section */
.review-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.review-card {
  border-radius: 20px;
  box-shadow: 1px 12px 24px rgba(2, 43, 105, 0.05);
  border: 1px solid #ecdddd7a;
  padding: 20px;
}
.review-card .review-rating {
  display: flex;
  align-items: center;
  position: relative;
}
.review-card .review-rating p {
  margin-bottom: 0;
  margin-right: 25px;
  font-weight: bold;
  color: #6a696b;
}
.review-card .review-rating p span {
  font-size: 2rem;
  color: #282a2b;
}
.review-card .review-rating .rating__image {
  width: 120px;
  height: auto;
  margin-right: 35px;
}
.review-card .review-rating .store__image {
  position: absolute;
  width: 120px;
  height: 50px;
  right: 0;
}
.review-card .review-comment {
  margin-top: 20px;
}
.review-card .review-comment h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.review-card .review-comment p {
  color: #6a696b;
  margin-bottom: 40px;
  font-size: 85%;
}
.review-card .review-comment a {
  text-transform: uppercase;
  font-weight: bold;
  color: #282a2b;
  font-size: 14px;
}
.review-card .review-comment a:hover {
  color: #595e60 !important;
}

/* global signup section*/
.signup-section {
  background-color: #282a2b;
  color: #ffffff;
  border-radius: 20px;
  padding: 60px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 50px;
  box-shadow: 0 59px 51px -34px rgba(0, 102, 245, 0.212);
}
.signup-section h2 {
  font-size: 2.35rem;
  font-weight: bold;
  line-height: 3rem;
}
.signup-section form {
  background-color: #ffffff40;
  padding: 10px;
  border-radius: 7.5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.signup-section form input[type=email] {
  background-color: transparent;
  border-radius: 7.5px;
  outline: 0;
  border: 0;
  width: 300px;
  color: #ffffff;
  font-size: 16px;
}
.signup-section form input[type=email]::-webkit-input-placeholder {
  color: #ffffff;
}
.signup-section form input[type=email]::-moz-placeholder {
  color: #ffffff;
}
.signup-section form input[type=email]:-ms-input-placeholder {
  color: #ffffff;
}
.signup-section form input[type=email]::-ms-input-placeholder {
  color: #ffffff;
}
.signup-section form input[type=email]::placeholder {
  color: #ffffff;
}
.signup-section form .submit-button {
  background-color: #ffffff;
  color: #5524e0;
  border: 0;
  font-weight: 600;
  margin-left: 5px;
  font-size: 16px;
}

/* global footer menu*/
.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  gap: 10px;
}
.footer-menu .menu-list h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-menu .menu-list ul {
  list-style-type: none;
  padding: 0;
}
.footer-menu .menu-list ul li {
  margin-bottom: 17.5px;
}
.footer-menu .menu-list ul li a {
  color: #6a696b;
  font-size: 16px;
}
.footer-menu .menu-list ul li a:hover {
  color: #282a2b;
}

/* copyright */
.copyright {
  padding: 20px 0;
  border-top: 1px solid #ecdddd7a;
  color: #6a696b;
  font-size: 14px;
}

#error-section {
  background-repeat: no-repeat;
  background-image: url(/images/patterns/header-bg.svg);
  background-position: 50%;
  background-size: cover;
}
#error-section .parent {
  text-align: center;
  padding: 50px 0 60px;
}
#error-section h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 45px 0;
}
#error-section p {
  font-size: 1.35rem;
  margin: 15px 0 65px;
  color: #6a696b;
}

@media all and (min-width: 1400px) {
  body > nav > .container-fluid, .parent {
    width: 1285px;
    margin: 0 auto;
  }

  #error-section {
    background-image: none;
  }
}
@media all and (min-width: 1025px) {
  .hero-section .hero-info {
    padding-top: 20%;
  }
}
@media all and (max-width: 1100px) {
  .props-section .props-card__image .other_image {
    padding: 0 7.5%;
  }

  .signup-section {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding: 40px 3.5%;
    grid-gap: 10px;
    gap: 10px;
  }
  .signup-section form {
    width: 100%;
    background-color: transparent;
  }
  .signup-section form input[type=email] {
    width: 100%;
    background-color: #ffffff40;
    padding: 15px;
    margin-bottom: 10px;
  }
  .signup-section form .submit-button {
    margin-left: 0;
  }
}
@media all and (max-width: 1024px) {
  body:nth-child(2) {
    margin-top: 75px;
  }

  .hero-section .parent {
    grid-template-columns: 1fr;
  }
  .hero-section .testimonial {
    order: 2;
    max-height: 600px;
    overflow: hidden;
  }
  .hero-section .testimonial img {
    width: 90%;
  }
  .hero-section .testimonial .testimonial__content {
    left: 20px;
    bottom: 10px;
    width: 300px;
    transform: scale(1.2);
  }
  .hero-section .testimonial .testimonial__content p {
    margin: 0;
  }
  .hero-section .testimonial .testimonial__content .testimonial__author {
    margin-top: 20px;
  }
  .hero-section .hero-info {
    order: 1;
  }
  .hero-section .hero-info .license {
    display: none;
  }

  .props-section .props-card__image .other_image {
    padding: 0;
  }

  .props-section .parent {
    grid-gap: 5%;
    gap: 5%;
  }
  .props-section .props-div {
    gap: 50px;
  }

  .steps-section {
    padding: 50px 2.5%;
  }
  .steps-section .steps-screenshot img {
    width: 300px;
  }

  .security-section .security-list {
    width: 100%;
    grid-gap: 50px;
    gap: 50px;
  }

  .review-card .review-rating {
    flex-direction: column;
    align-items: flex-start;
  }

  .signup-section h2 {
    font-size: 2.15rem;
  }
}
@media all and (max-width: 875px) {
  .footer-menu {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 10px;
    gap: 30px 10px;
  }
}
@media all and (max-width: 768px) {
  .hero-section .testimonial img {
    width: 100%;
  }
  .hero-section .testimonial .testimonial__content {
    transform: scale(0.8);
    left: -20px;
  }

  .props-section .parent {
    grid-template-columns: 1fr;
    padding-left: 5%;
    padding-right: 5%;
    gap: 50px;
  }
  .props-section .props-div {
    gap: 30px;
  }

  .steps-section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .steps-section .parent {
    grid-template-columns: 1fr;
  }
  .steps-section .steps-screenshot {
    display: none;
  }

  .security-section::after {
    background-image: none;
  }
  .security-section .security-list {
    grid-template-columns: 1fr;
  }
  .security-section .security-list .security-card {
    padding-left: 40px;
  }

  .review-section {
    grid-template-columns: 1fr;
  }

  .review-card {
    padding: 30px;
  }

  .signup-section {
    grid-template-columns: 1fr;
    padding: 20px 5%;
    margin: 0 0 50px;
  }
  .signup-section form {
    padding: 0;
  }

  #error-section br {
    display: none;
  }
  #error-section .parent {
    padding: 30px 0;
  }
  #error-section h2 {
    margin: 25px 0;
  }
  #error-section p {
    margin: 15px 0 30px;
  }
}
@media all and (max-width: 600px) {
  .hero-section .hero-info form {
    display: none;
  }
  .hero-section .hero-info .app-links {
    display: flex;
    grid-gap: 15px;
    gap: 15px;
  }
}
@media all and (max-width: 500px) {
  .hero-section .hero-info h1 {
    font-size: 3.85rem;
    line-height: 57.5px;
  }

  .props-section .props-card {
    padding: 30px 30px 0 30px;
  }

  .security-section .security-info {
    width: 100%;
  }

  .review-card {
    padding: 20px;
  }

  .footer-menu {
    gap: 18.5px 10px;
  }
  .footer-menu .menu-list h3 {
    font-size: 1.15rem;
    margin-bottom: 15px;
  }
  .footer-menu .menu-list ul li {
    margin-bottom: 12.5px;
  }
  .footer-menu .menu-list ul li a {
    font-size: 14.5px;
  }
}
