@font-face {
  font-family: "BR Firma";
  src: url("../fonts/BR Firma.woff2") format("woff2"), url("../fonts/BR Firma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgba(182, 182, 66, 0.521);
  color: red;
}
