// font
@import url('http://fonts.cdnfonts.com/css/br-firma');
@font-face {
   font-family: 'BR Firma sub';
   src: url('../fonts/BR\ Firma.woff2') format('woff2'),
        url('../fonts/BR\ Firma.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

$br-firma:'BR Firma', 'BR Firma sub';

// colors
$white: #ffffff;
$alto: #ffffffd7;
$ribbon-blue: #8560eb;
$midnight-blue: #5524e0;
$midnight-blue-l: #5524e099;
$gray-l: #ecdddd7a;
$light-blue: #ece0f181;

$shadow: 0px 18px 23px -7px rgba(0, 0, 0, 0.164);