@use 'config' as *;

.mt {
   margin-top: 100px !important;
}

a, button, input[type="submit"] {
   cursor: pointer;
}

a {
   text-decoration: none;
   color: $gray;
}

ul, li {
   list-style-type: none;
}

a:hover {
   color: $black;
}

/* hero section */
.hero-section {
   .parent {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5%; gap: 5%;
   }

   .testimonial {
      position: relative;
      overflow: hidden;

      img {
         width: 90%;
      }

      .testimonial__content {
         position: absolute;
         background-color: $white;
         width: 350px;
         font-size: 14px;
         color: $gray;
         padding: 20px;
         right: -10px;
         bottom: -10px;

         .testimonial__author {
            margin-top: 30px;
            color: $black;
         }
      }
   }

   .hero-info {
      position: relative;

      h1 {
         font-size: 4.75rem;
         letter-spacing: -5px;
      }

      h3 {
         font-size: 2.85rem;
      }

      h1 , h3 {   
         line-height: 100%;
         margin-bottom: 20px;
         font-weight: bold;
      }

      p {
         color: $gray;
         margin-bottom: 10px;
      }

      a {
         font-weight: bold;
         color: $gray;
         font-size: 14px;
         text-transform: uppercase;
      }

      a.submit-button {
         color: $white;
      }

      form {
         margin-top: 20px;

         input {
            padding: 10px 15px;
            border-radius: 7.5px;

            &[type="email"], &[type="text"] {
               border: 1px solid $gray;
               width: 300px;
               margin-right: 10px;
               margin-bottom: 10px;

               &::-webkit-input-placeholder {
                  color: $gray;
               }

               &::-moz-placeholder {
                  color: $gray;
               }

               &:-ms-input-placeholder {
                  color: $gray;
               }

               &::-ms-input-placeholder {
                  color: $gray;
               }

               &::placeholder {
                  color: $gray;
               }
            }
         }
      }

      .app-links {
         display: none;

         a > img {
            width: 125px;
            height: 50px;
         }
      }

      .license {
         display: flex;
         align-items: center;
         position: absolute;
         bottom: 0;
         right: 0;

         img {
            width: auto;
            height: 15px;
            margin-right: 5px;
         }

         p {
            font-size: 80%;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 0;
         }
      }
   }
}
/* props section */
.props-section {
   .parent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5rem;
      gap: 5rem;
      padding-top: 30px;
      padding-bottom: 100px;  
   } 

   .props-div {
      display: flex;
      flex-direction: column;
      gap: 80px;
      // margin-bottom: 40px;
   }
}

.props-card {
   padding: 48px 48px 0 48px;
   border-radius: 20px;
   max-height: 600px;
   height: auto;
   overflow: hidden;

   .props-card__text {
      margin-bottom: 40px;
   }

   .props-card__image {
      position: relative;
      height: 350px;
      display: flex;
      justify-content: center;

      img {
         transition: all .4s cubic-bezier(.215,.61,.355,1);
         transition-delay: .25s;
      }

      .main_image {
         width: 400px;
         position: absolute;
         right: -48px;
         bottom: 0;
         z-index: 1;
      }
      
      .other_image {
         width: 100%;
         padding: 0 15%;
         position: absolute;
         height: auto;
         top: 0;
         opacity: 0;
      }
      
      &:hover {

         .main_image {
            // animation: fadeOutLeft .5s ease;
            // transition: 10s ease;
            // left: -80%;
            opacity: 0;
            transform: scale(.97) translate3d(-20px,0,10px);
         }
         .other_image {
            display: block;
            // animation: fadeInUp .5s ease-in;
            opacity: 1;
            transform: scale(1.07) translate3d(0,-10px,0);   
         }
      }               
   }
}

/* steps section */
.steps-section {
   background-image: url("/images/patterns/home-device-section.svg");
   background-repeat: no-repeat;
   background-position: -120% -120px;
   background-size: 77%;
   // background-color: #fcfcfc;
   padding: 50px 7.5%;

   .parent {
      display: grid;
      grid-template-columns: .8fr 1fr;
      grid-gap: 2.5%; gap: 2.5%;
   }
   
   .steps-screenshot {
      img {
         width: 350px;
         margin: 0 auto;
      }
   }

   h3 {
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 40px;
   }

   .steps-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
   }
}

.steps-card {
   p {
      padding-bottom: 40px;
      border-left: 1px solid $black;
      padding-left: 47px;
      margin-left: 9px;
      color: $gray;
   }
   
   .last-step {
      border-left: 1px solid transparent;
      margin-bottom: 0;
   }

   h4 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 55px;
      position: relative;
      color: $purple;
   }

   h4::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      color: $black;
      font-size: 18px;
      font-weight: 500;
   }

   .step-one::before {
      content: '01';
   }
   .step-two::before {
      content: '02';
   }
   .step-three::before {
      content: '03';
   }
   .step-four::before {
      content: '04';
   }
   .step-five::before {
      content: '05';
   }
}

/* security section */
.security-section {
   background-color: $black;
   position: relative;
   overflow: hidden;
   
   .parent {
      color: $white;
      padding-top: 60px;
      padding-bottom: 80px;
   }
   
   &:after {
      content: "";
      background-image: url("../images/patterns/security.svg");
      background-repeat: no-repeat;
      height: 790px;
      width: 780px;
      background-position: 126px;
      background-size: 110%;
      position: absolute;
      right: -150px;
      top: 100px;
      opacity: .5;
   }

   .security-info {
      width: 450px;
      margin-bottom: 40px;

      h2 {
         font-size: 2.35rem;
         font-weight: bold;
         margin-bottom: 30px;
         color: $white;
      }
      
      p {
         margin-bottom: 20px;
         color: $alto;
      }

      a {
         text-transform: uppercase;
         color: $white;
         font-size: 15px;

         &:hover {
            color: darken($alto, 10%);
         }
      }

   }

   .security-list {
      width: 85%;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 80px;
      gap: 80px;

      .security-card {
         position: relative;
         padding-left: 50px;

         &::before {
            content: url('../images/box.svg');
            position: absolute;
            left: 0;
         }

         h5 {
            font-weight: bold;
            font-size: 1.25rem;
         } 

         p {
            color: $alto;
         }
      }
   }
}

/* global review section */ 
.review-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 40px;
   gap: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
}

.review-card {
   border-radius: 20px;
   // box-shadow: $shadow;
   box-shadow: 1px 12px 24px rgb(2 43 105 / 5%);
   border: 1px solid $gray-l;
   padding: 20px;

   .review-rating {
      display: flex;
      align-items: center;
      position: relative;

      p {
         margin-bottom: 0;
         margin-right: 25px;
         font-weight: bold;    
         color: $gray;


         span {
            font-size: 2rem;
            color: $black;
         }
      }
      
      .rating__image {
         width: 120px;
         height: auto;
         margin-right: 35px;
      }

      .store__image {
         position: absolute;
         width: 120px;
         height: 50px;
         right: 0;
      }
   }

   .review-comment {
      margin-top: 20px;
      
      h4 {
         font-size: 2rem;
         margin-bottom: 20px;
         font-weight: bold;
      }
      
      p {
         color: $gray;
         margin-bottom: 40px;
         font-size: 85%;
      }
      
      a {
         text-transform: uppercase;
         font-weight: bold;
         color: $black;
         font-size: 14px;

         &:hover {
            color: lighten($black, 20%) !important;
         }
      }
   }
}

/* global signup section*/ 
.signup-section {
   background-color: $black;
   color: $white;
   border-radius: 20px;
   padding: 60px 5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px 0 50px;
   box-shadow: 0 59px 51px -34px rgba(60, 61, 61, 0.212);

   h2 {
      font-size: 2.35rem;
      font-weight: bold;
      line-height: 3rem;
   }

   form {
      background-color: #ffffff40;
      padding: 10px;
      border-radius: 7.5px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;

      input[type="email"] {
         background-color: transparent;
         border-radius: 7.5px;
         outline: 0;
         border: 0;
         width: 300px;
         color: $white;
         font-size: 16px;

         &::-webkit-input-placeholder {
            color: $white;
         }

         &::-moz-placeholder {
            color: $white;
         }

         &:-ms-input-placeholder {
            color: $white;
         }

         &::-ms-input-placeholder {
            color: $white;
         }

         &::placeholder {
            color: $white;
         }
      }

      .submit-button {
         background-color: $white;
         color: $purple;
         border: 0;
         font-weight: 600;
         margin-left: 5px;
         font-size: 16px;
      }
   }

   img {
      width: 175px;
   }

   .store__images {
      display: flex;
      justify-content: end;
      gap: 20px;
   }
}

/* global footer menu*/ 
.footer-menu {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   gap: 10px;

   .menu-list {
      h3 {
         font-size: 1.5rem;
         font-weight: bold;
         margin-bottom: 20px;
      }

      ul {
         list-style-type: none;
         padding: 0;

         li {
            margin-bottom: 17.5px;
            
            a {
               color: $gray;
               font-size: 16px;

               &:hover {
                  color: $black;
               }
            }
         }
      }
   }
}

/* copyright */
.copyright {
   padding: 20px 0;
   border-top: 1px solid $gray-l;
   color: $gray;
   font-size: 14px;
}

// 404 page
#error-section {
   background-repeat: no-repeat;
   background-image: url(/images/patterns/header-bg.svg);
   background-position: 50%;
   background-size: cover;

   .parent {
      text-align: center;
      padding: 50px 0 60px;
   }

   h2 {
      font-size: 3rem;
      font-weight: bold;
      margin: 45px 0;
   }

   p {
      font-size: 1.35rem;
      margin: 15px 0 65px;
      color: $gray;
   }
}

// blog page
.blog-section {
   margin-bottom: 50px;
}
.blog-header {
   margin: 20px 0 30px;

   h3 {
      font-size: 1.65rem;
      color: $purple;
      font-weight: bold;
   }

   p {
      font-size: 1rem;
      color: $gray;
   }
}

.blog-div {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
   gap: 30px;
}

.blog-card {
   .blog__image {
      width: 100%;
      aspect-ratio: 1/1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin-bottom: 10px;
   }

   .blog__tags {
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
      gap: 5px 10px;
   }

   .blog__title {
      font-weight: bold;
      color: $black;
      font-size: 1.35rem;

      &:hover {
         color: $purple;
      }
   }

   .blog__date {
      font-size: 14px;
      color: $gray;
      margin-top: 10px;
   }
}

// hero section (with one side)
.hero-section-s {
   display: flex;
   align-items: center;
   height: 700px;

   background-repeat: no-repeat !important;
   background-position: 48vw 15vh !important;
   background-size: 79% !important;
   

   h1 {
      font-size: 3.75rem;
      font-weight: bold;
      letter-spacing: -2.5px;
      margin-bottom: 30px;
   }

   p {
      color: $gray;
      margin-bottom: 30px;
      max-width: 500px;
   }
}

// toolkit section
.toolkit-section {
   background-image: url(/images/patterns/plan/ptn-01.svg);
   background-repeat: no-repeat;
   background-position: 800px top;
   background-size: contain;

   color: $gray;
   text-align: center;
   
   .parent {
      padding: 50px 0;
   }

   h1, h2, h3, h4, h5, h6 {
      color: $black;
      font-weight: bold;
      margin-bottom: 20px;
   }

   h2 {
      font-size: 3rem;
   }

   .toolkit-hero {
      max-width: 900px;
      margin: 0 auto;
      padding: 50px 0;
   }

   .toolkit-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      gap: 50px;
      text-align: left;

      & > div {
         display: flex;
         flex-direction: column;
         justify-content: center;

         img {
            width: 100%;
         }
      }
   }

   hr {
      margin: 20px 0;
   }
}
.toolkit-card {
   padding-top: 10px;
   padding-bottom: 30px;

   h3 {
      font-size: 2rem;
   }

   a {
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
   }
}

// story section
.story-section {
   padding: 0;

   .parent {
      display: grid;
      grid-template-columns: 1fr 1fr;

      
      // & > div:first-child {
      //    padding-left: 20px;
      // }

      // & > div:last-child {
      //    padding-right: 20px;
      // }
   }

   & > div > div {
      padding: 50px 0;
   }

   .story-image {
      padding: 0;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;    
         object-fit: cover;
      }
   }

   .story-content {
      padding-left: 30px;
      padding-right: 30px;

      h2 {
         color: $black;
         text-align: left;
         line-height: 135%;
         font-size: 2.45rem;
         font-weight: bold;
      }

      p {
         color: $gray;
         font-weight: bold;

         span {
            font-size: 80%;
            color: lighten($black, 40%);
         }
      }

      h2, p {
         max-width: 550px;
      }
   }
}

// accordion section
.accordion-section {
   background-color: #f4f8fc;
   

   .parent {
      padding: 60px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      grid-gap: 20px;
   }

   .accordion-hero {
      position: relative;
      min-height: 550px;

      h1 {
         font-size: 2.35rem;
         font-weight: bold;
      }

      img {
         width: 100%;
         position: absolute;
         bottom: 0;
         transform: scale(.8) translateY(20%);
      }
   }
}

// accordion buttons
.accordion-button::after {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
   transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion {
   border: 0;
   display: flex;
   flex-direction: column;
   grid-gap: 30px;
   gap: 30px;

   .accordion-item {
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0px 16px 37px -6px rgba(139, 138, 138, 0.1);

      .accordion-button {
         border: 0;
         outline: 0;
         padding-top: 30px;
         padding-bottom: 30px;
         color: $black;
         font-weight: bold;
         border-radius: 10px 10px 0 0;

         &:not(.collapsed) {
            color: $gray;
            background-color: $white;
        }

         &:focus {
            border-color: transparent;
            box-shadow: none;
         }
      }

      .card-body {
         color: $black;
         padding: 0 20px 20px;
      }

      .accordion-collapse {
         border: 0;
      }
   }
}

.grid-card {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
   gap: 30px;
   padding: 0 7.5%;
}
.card {
   color: $black;
   text-align: start;
   background-color: $white;
   padding: 20px;
   box-shadow: $shadow;
   border-radius: 7.5px;

   h1, h2, h3, h4, h5, h6, p {
      color: $black;
      margin-bottom: 15px;
   }

   p { 
      margin-bottom: 0;
   }

   .card-image {
      margin-bottom: 10px;

      img {
         width: 100px;
         height: auto;
      }
   }
}