@use 'config' as *;

@media all and (min-width: 1400px) {
   body > nav > .container-fluid, .parent {
      width: 1285px;
      margin: 0 auto;
   }

   #error-section {
      background-image: none;
   }

   .hero-section-s {
      background-size: contain !important;
   }
}

@media all and (min-width: 1025px) {
   .hero-section .hero-info {
      padding-top: 20%;
   }
}

@media all and (max-width: 1100px) {
   .props-section .props-card__image .other_image {
      padding: 0 7.5%;
   }

   .signup-section {
      display: grid;
      grid-template-columns: .8fr 1fr;
      padding: 40px 3.5%;
      grid-gap: 10px;
      gap: 10px;
      
      form {
         width: 100%;
         background-color: transparent;

         input[type="email"] {
            width: 100%;
            background-color: #ffffff40;
            padding: 15px;
            margin-bottom: 10px;
         }

         .submit-button {
            margin-left: 0;
         }
      }
   }
}

@media all and (max-width: 1024px) {
   .mt {
      margin-top: 75px !important;
   }

   .hero-section {
      .parent {
         grid-template-columns: 1fr;
      }

      .testimonial {
         order: 2;
         max-height: 600px;
         overflow: hidden;

         img {
            width: 90%;
         }

         .testimonial__content {
            left: 20px;
            bottom: 10px;
            width: 300px;
            transform: scale(1.2);

            p {
               margin: 0;
            }

            .testimonial__author {
               margin-top: 20px;
            }
         }
      }

      .hero-info {
         order: 1;

         .license {
            display: none;
         }
      }
   }

   .props-section .props-card__image .other_image {
      padding: 0;
   }

   .props-section {
      .parent {
         grid-gap: 5%;
         gap: 5%;
      }

      .props-div {
         gap: 50px;
      }
   }

   .steps-section {
      padding: 50px 2.5%;

      .steps-screenshot {
         img {
            width: 300px;
         }
      }
   }

   .security-section {
      .security-list {
         width: 100%;
         grid-gap: 50px;
         gap: 50px;
      }
   }

   .review-card {
      .review-rating {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   .signup-section {
      h2 {
         font-size: 2.15rem;
      }
   }

   .blog-card .blog__title {
      font-size: 1.25rem;
   }

   .hero-section-s {
      background-size: 90% !important;

      h1 {
         font-size: 3.60rem;
         max-width: 450px;

         br {
            display: none;
         }
      }

      p {
         max-width: 450px;
      }
   }

   .toolkit-section .toolkit-main {
      grid-gap: 20px;
      gap: 20px;
   }
}

@media all and (max-width: 960px) {
   .toolkit-section .toolkit-main {
      grid-template-columns: 1fr;
      
      & > div {
         max-width: 700px;
      }
   }

   .story-section  {
      .story-content {
         h2 {
            font-size: 2rem;
         }
      }
   }

   .accordion-section {
      .parent {
         grid-template-columns: 1fr;
      }

      .accordion-hero {
         min-height: auto;

         h1 {
            text-align: center;
         }

         img {
            display: none;
         }
      }
   }
}

@media all and (max-width: 875px) {
   .blog-section .parent {
      padding: 0;
   }

   .blog-div {
      grid-template-columns: 1fr 1fr;
   }
}

@media all and (max-width: 768px) {
   .hero-section {
      .testimonial {
         img {
            width: 100%;
         }

         .testimonial__content {
            transform: scale(.8);
            left: -20px;
         }
      }
   }

   .props-section {
      .parent {
         grid-template-columns: 1fr;
         padding-left: 0;
         padding-right: 0;
         gap: 50px;
      }

      .props-div {
         gap: 30px;
      }
   }

   .steps-section {
      padding-left: 5%;
      padding-right: 5%;

      .parent {
         grid-template-columns: 1fr;
      }

      .steps-screenshot {
         display: none;
      }
   }

   .security-section {

      &::after {
         background-image: none;
      }

      .security-list {
         grid-template-columns: 1fr;

         .security-card {
            padding-left: 40px;
         }
      }
   }

   .review-section {
      grid-template-columns: 1fr;
   }

   .review-card {
      padding: 30px;
   }

   .signup-section {
      grid-template-columns: 1fr;
      padding: 20px 5%;
      margin: 0 0 50px;

      form {
         padding: 0;
      }
   }

   .footer-menu {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px 10px;
      gap: 30px 10px;
   }

   #error-section {
      br {
         display: none;
      }

      .parent {
         padding: 30px 0;
      }

      h2 {
         margin: 25px 0;
      }

      p {
         margin: 15px 0 30px;
      }
   }

   .hero-section-s {
      background-size: 790px !important;
      background-position: -130px 450px !important;
      height: 800px;

      display: block;
      padding-top: 75px;

      h1, p {
         max-width:100%;
      }
   }

   .story-section {
      .parent {
         grid-template-columns: 1fr;
      }

      & > div > div {
         padding: 30px 0;
      }

      .story-content {
         h2 {
            font-size: 1.5rem;
         }

         h2, p {
            max-width: 100%;
         }
      }
   }
}

@media all and (max-width: 650px) {
   
   .footer-menu {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px 10px;
      gap: 30px 10px;
   }

   .toolkit-section .toolkit-hero {
      padding: 10px 0 20px 0;
   }
}

@media all and (max-width: 600px) {
   .hero-section .hero-info {
      form {
         display: none;
      }

      .app-links {
         display: flex;
         grid-gap: 15px;
         gap: 15px;
      }
   }

   .blog-div {
      grid-template-columns: 1fr;
   }
}

@media all and (max-width: 500px) {
   .hero-section {
      .hero-info {
         h1 {
            font-size: 3.85rem;
            line-height: 57.5px;
         }
      }
   }

   .props-section {
      .props-card {
         padding: 30px 30px 0 30px;
      }
   }

   .security-section {
      .security-info {
         width: 100%;
      }
   }

   .review-card {
      padding: 20px;
   }

   .footer-menu {
      gap: 18.5px 10px;

      .menu-list {
         h3 {
            font-size: 1.15rem;
            margin-bottom: 15px;
         }

         ul li {
            margin-bottom: 12.5px;

            a {
               font-size: 14.5px;
            }
         }
      }
   }

   .blog-section .parent {
      padding: 0;
   }

   .hero-section-s {
      background-position: -130px 550px !important;
   }

   .story-section .story-content p {
      display: flex;
      flex-direction: column;
   }

   .accordion-section .parent {
      padding: 30px 0;
   }
}

@media all and (max-width: 375px) {
   .footer-menu {
      grid-template-columns: 1fr;
   }
}