@use 'config' as *;

* {
   font-family: $br-firma, sans-serif;
}

body {                                               
   background-color: $white;
   color: $purple;
   font-size: 18px;

   & > div, & > footer {   
      padding: 0 20px;
   }
}

/* background themes */
.bg-zircon {
   background-color: #f4f6ff;
}
.bg-pattern {
   background-color: #e1f6ff;
}
.bg-blue {
   background-color: $black;
   
   h2, h4, h6, a {
      color: $white;
   }

   p {
      color: $alto;
   }

   a:hover {
      color: darken($alto, 20%) !important;
   }
   
   .left-arrow {
      svg {
         fill: $white;
      }
   }
}
.bg-seashell {
   background-color: #fff6ee;
}
.bg-lavender {
   background-color: #fdf3f6;
}
.bg-whisper {
   background-color: #f5f6fa;
}
.bg-purp {
   background-color: lighten($purple, 42.5%) !important; 
}
.bg-white {
   background-color: $white !important;
}
.bg-water {
   background-color: #f4f8fc !important;
}

:where(.header-card, .bg-blue, .bg-zircon, .bg-pattern, .bg-seashell, .bg-whisper, .bg-lavender) {
   h2 {
      font-size: 2.45rem;
      font-weight: bold;
      color: $purple;
      margin-bottom: 10px;
   }
   
   h4 {
      color: $purple;
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 10px;
   }

   h6 {
      color: darken($gray, 10%);
      margin: 0;
      font-size: 1.3rem;
      margin-bottom: 5px;
   }

   p {
      color: $gray;
      margin-bottom: 10px;
   }
   
   a {
      text-transform: uppercase;
      color: $black;
      font-size: .9rem;
      font-weight: 600;

      &:hover {
         color: lighten($black, 20%) !important;
      }
   }
}

/* custom buttons */ 
.button {
   color: $white;
   background-color: $black;
   border: 1px solid $black;
   padding: 10px 20px;
   box-shadow: $shadow;
   width: -webkit-max-content;
   width: -moz-max-content;
   width: max-content;
   border-radius: 7.5px;

   &:hover {
      color: $alto;
   }
}

.submit-button {
   color: $white;
    background-color: $black;
    border: 1px solid $black;
    padding: 10px 20px;
    box-shadow: 0px 18px 23px -7px rgba(56, 55, 55, 0.16);
    border-radius: 7.5px;
}
.submit-button:hover {
   color: $white;
}
// .submit-button:hover {
// }

.left-arrow {
   display: flex;
   align-items: center;

   svg {
      height: 12px;
      width: 12px;
      margin-bottom: 2px;
      margin-left: 2px;
      fill: $black;
   }
}