@use 'config' as *;

.hero-section {
   display: grid;
   grid-template-columns: .75fr 1fr;
   grid-gap: 10px; gap: 10px;

   section:first-child {
      img {
         width: 100%;
      }
   }

   section:last-child {
      position: relative;

      h1 {
         font-size: 4.5rem;
         font-weight: bold;
      }

      p {
         color: $midnight-blue-l
      }

      form {
         input {
            padding: 10px 15px;
            border-radius: 7.5px;

            &[type="email"], &[type="text"] {
               border: 1px solid $midnight-blue-l;
               width: 300px;
               margin-right: 10px;

               &::-webkit-input-placeholder {
                  color: $midnight-blue-l;
               }

               &::-moz-placeholder {
                  color: $midnight-blue-l;
               }

               &:-ms-input-placeholder {
                  color: $midnight-blue-l;
               }

               &::-ms-input-placeholder {
                  color: $midnight-blue-l;
               }

               &::placeholder {
                  color: $midnight-blue-l;
               }
            }
         }
      }

      .app-links {
         display: none;

         a > img {
            width: 125px;
         }
      }

      .license {
         display: flex;
         align-items: center;
         position: absolute;
         bottom: 0;

         img {
            width: auto;
            height: 15px;
         }

         p {
            font-size: 80%;
            text-transform: uppercase;
            color: $midnight-blue;
            margin-bottom: 0;
         }
      }
   }
}

.props-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5rem;
   gap: 5rem;
   padding-top: 30px;
   padding-bottom: 100px;   

   .props-div {
      display: flex;
      flex-direction: column;
      gap: 80px;
      // margin-bottom: 40px;
   }
}

.props-card {
   padding: 48px 48px 0 48px;
   border-radius: 20px;
   max-height: 600px;
   height: auto;
   overflow: hidden;

   .props-card__text {
      margin-bottom: 40px;
   }

   .props-card__image {
      position: relative;
      height: 350px;
      display: flex;
      justify-content: center;

      img {
         transition: all .4s cubic-bezier(.215,.61,.355,1);
         transition-delay: .25s;
      }

      .main_image {
         width: 400px;
         position: absolute;
         right: -48px;
         bottom: 0;
         z-index: 1;
      }
      
      .other_image {
         width: 100%;
         padding: 0 15%;
         position: absolute;
         height: auto;
         top: 0;
         opacity: 0;
      }
      
      &:hover {

         .main_image {
            // animation: fadeOutLeft .5s ease;
            // transition: 10s ease;
            // left: -80%;
            opacity: 0;
            transform: scale(.97) translate3d(-20px,0,10px);
         }
         .other_image {
            display: block;
            // animation: fadeInUp .5s ease-in;
            opacity: 1;
            transform: scale(1.07) translate3d(0,-10px,0);   
         }
      }               
   }
}

.steps-section {
   background-image: url("/images/patterns/home-device-section.svg");
   background-repeat: no-repeat;
   background-position: -120% -120px;
   background-size: 77%;
   background-color: #fcfcfc;

   display: grid;
   grid-template-columns: .8fr 1fr;
   padding: 50px 7.5%;
   grid-gap: 2.5%; gap: 2.5%;
   
   .steps-screenshot {
      img {
         width: 350px;
         margin: 0 auto;
      }
   }

   h3 {
      font-size: 2.25rem;
      font-weight: bold;
      margin-bottom: 40px;
   }

   .steps-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
   }
}

.steps-card {
   p {
      padding-bottom: 40px;
      border-left: 1px solid $ribbon-blue;
      padding-left: 47px;
      margin-left: 9px;
   }
   
   .last-step {
      border-left: 1px solid transparent;
      margin-bottom: 0;
   }

   h4 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 55px;
      position: relative;
   }

   h4::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      color: $ribbon-blue;
      font-size: 18px;
      font-weight: 500;
   }

   .step-one::before {
      content: '01';
   }
   .step-two::before {
      content: '02';
   }
   .step-three::before {
      content: '03';
   }
   .step-four::before {
      content: '04';
   }
   .step-five::before {
      content: '05';
   }
}

.security-section {
   background-color: $ribbon-blue;
   color: $white;
   position: relative;
   overflow: hidden;
   padding-top: 60px;
   padding-bottom: 80px;
   
   &:after {
      content: "";
      background-image: url("../images/patterns/security.svg");
      background-repeat: no-repeat;
      height: 790px;
      width: 780px;
      background-position: 126px;
      background-size: 110%;
      position: absolute;
      right: -150px;
      top: 100px;
      opacity: .5;
   }

   .security-info {
      width: 450px;
      margin-bottom: 40px;

      h2 {
         font-size: 2.35rem;
         font-weight: bold;
         margin-bottom: 30px;
      }
      
      p {
         margin-bottom: 20px;
      }

      a {
         text-transform: uppercase;
         color: $alto;
         font-size: 15px;
      }

   }

   .security-list {
      width: 85%;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 80px;
      gap: 80px;

      .security-card {
         position: relative;
         padding-left: 50px;

         &::before {
            content: url('../images/box.svg');
            position: absolute;
            left: 0;
         }

         h5 {
            font-weight: bold;
            font-size: 1.25rem;
         } 
      }
   }
}

.review-section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 40px;
   gap: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
}

.review-card {
   border-radius: 20px;
   // box-shadow: $shadow;
   box-shadow: 1px 12px 24px rgb(2 43 105 / 5%);
   border: 1px solid $gray-l;
   padding: 20px;

   .review-rating {
      display: flex;
      align-items: center;
      position: relative;

      p {
         margin-bottom: 0;
         margin-right: 25px;
         font-weight: bold;    
         color: #aeb9cc;


         span {
            font-size: 2rem;
            color: $midnight-blue;
         }
      }
      
      .rating__image {
         width: 120px;
         height: auto;
         margin-right: 35px;
      }

      .store__image {
         position: absolute;
         width: 120px;
         height: 50px;
         right: 0;
      }
   }

   .review-comment {
      margin-top: 20px;
      
      h4 {
         font-size: 2rem;
         margin-bottom: 20px;
         font-weight: bold;
      }
      
      p {
         color: #aeb9cc;
         margin-bottom: 40px;
         font-size: 85%;
      }
      
      a {
         text-transform: uppercase;
         font-weight: bold;
         color: $ribbon-blue;
         font-size: 14px;
      }
   }
}

.signup-section {
   background-color: $ribbon-blue;
   color: $white;
   border-radius: 20px;
   padding: 60px 5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px 0 50px;

   h2 {
      font-size: 2.35rem;
      font-weight: bold;
      line-height: 3rem;
   }

   form {
      background-color: #ffffff40;
      padding: 10px;
      border-radius: 7.5px;
      width: max-content;

      input[type="email"] {
         background-color: transparent;
         border-radius: 7.5px;
         outline: 0;
         border: 0;
         width: 300px;
         color: $white;
         font-size: 16px;

         &::placeholder {
            color: $white;
         }
      }

      .submit-button {
         background-color: $white;
         color: $midnight-blue;
         border: 0;
         font-weight: bold;
         margin-left: 5px;
         font-size: 16px;
      }
   }
}