@media all and (max-width: 1100px) {
   .props-section .props-card__image .other_image {
      padding: 0 7.5%;
   }
}
@media all and (max-width: 1024px) {
   .props-section .props-card__image .other_image {
      padding: 0;
   }

   .props-section {
      grid-gap: 5%;
      gap: 5%;

      .props-div {
         gap: 50px;
      }
   }

   .steps-section {
      padding: 50px 2.5%;

      .steps-screenshot {
         img {
            width: 300px;
         }
      }
   }

   .security-section {
      .security-list {
         width: 100%;
         grid-gap: 50px;
         gap: 50px;
      }
   }

   .review-card {
      .review-rating {
         flex-direction: column;
         align-items: flex-start;
      }
   }
}

@media all and (max-width: 768px) {
   .props-section {
      grid-template-columns: 1fr;
      padding-left: 5%;
      padding-right: 5%;
      gap: 50px;
   }

   .steps-section {
      grid-template-columns: 1fr;
      padding-left: 5%;
      padding-right: 5%;

      .steps-screenshot {
         display: none;
      }
   }

   .security-section {
      .security-list {
         grid-template-columns: 1fr;

         .security-card {
            padding-left: 40px;
         }
      }
   }

   .review-section {
      grid-template-columns: 1fr;
   }

   .review-card {
      padding: 30px;
   }
}

@media all and (max-width: 500px) {
   .props-section {
      .props-card {
         padding: 30px 30px 0 30px;
      }
   }

   .review-card {
      padding: 20px;
   }
}
